.result {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 3cm;
    margin-left: 50px;
}


.header {
	background: #ffffff;
    width: 100%;
    height: 64px;
    box-shadow: 0px 0px 10px -4px rgba(0,63,150,1);
    z-index: 99;
    position: fixed;
    top: 0;	
}

.header-wrapper {
	width: 100%;
	justify-content: baseline;
    display: flex;
    margin: auto;
}

.logo {
	width: 52px;
    height: 52px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 6px;
    transition: .5s;            
}

.logo:hover {
	transition: .5s;
	transform: rotate(20deg);
}

.logo img {
	width: 100%;
}

.search-zone input {
	width: 470px;
    padding: 15px 60px 15px 25px;
    border-radius: 3px;
    border: none;
    background: #EEE;
    margin: 10px 10px 10px 10px;
}

.search-zone {
	position: relative;
}

.search-button {
	position: absolute;
    top: 7px;
    right: 10px;
    padding: 14px 19px;
    cursor: pointer;
    opacity: 0.50;
    transition: 0.5s;
}

.search-button:hover {
	transition: 0.5s;
	opacity: 0.9;
	transform: scale(1.04, 1.04);
}

.search-button img{
	width: 20px;
}

#h{
    position: absolute;
    top: 7px;
    right: 10px;
    padding: 14px 19px;
    cursor: pointer;
    opacity: 0.50;
    transition: 0.5s;
    width: 30px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 2cm;
    margin-top: 15px;
  }
  
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #000019;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #000019;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  h3{
    display: inline-block;
    font-family:'jura';
    font-weight: bold;
  }

  
  
  