@import url(https://fonts.googleapis.com/css?family=Jura);
@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
  background-color: white;
  overflow-x: hidden;
  font-family: "jura";
  margin: 0;
  box-sizing: border-box;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}


#help {
  color:#fff;
  background-color:#feb22a;
  width:12px;
  height:12px;
  display:inline-block;
  border-radius:100%;
  font-size:10px;
  text-align:center;
  text-decoration:none;
  -webkit-box-shadow: inset -1px -1px 1px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: inset -1px -1px 1px 0px rgba(0,0,0,0.25);
  box-shadow: inset -1px -1px 1px 0px rgba(0,0,0,0.25);
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.lds-roller {
  display: inline-block;
  position: relative;
  margin-left: 50%;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background:black;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


main {
  text-align: center;
}

.link {

  font-weight: bold;


}

.search input {
  /* margin-left: 480px; */
  height: 3rem;
  margin-top: 12px;
  min-width: 24rem;
  max-width: 48rem;
  padding: 10px;
  background: #ccc;
  color: black;
  font-size: 17px;
  border: 1px;
  border-left: none;
  cursor: pointer;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
}

.search input:focus {
  outline: none;
  /* Remove default outline and use border or box-shadow */
}

#ib2 {
  height: 3rem;
  width: 5%;
  margin-left: -10px;
  margin-top: 12px;
  padding-bottom: 11.2px;
  padding-top: 10px;
  background: #ccc;
  color: #000019;
  font-size: 17px;
  cursor: pointer;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  border: none;
  border-left: none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #000019;
}

input:focus + .slider {
  box-shadow: 0 0 1px #000019;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

h3{
  display: inline-block;
  font-family:'jura';
  font-weight: bold;
}
.md-chip {
  display: inline-block;
  background:#e0e0e0;
  padding: 0 12px;
  border-radius: 32px;
  font-size: 18px;
  height: 32px;
  cursor: pointer;
  margin-right: 30px;
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  color: #333;
}

.md-chips {
  margin-left: 90px;

}

.md-chip:hover {
  color:white;background:#000019;
  cursor: pointer;

}
form.example button:hover {
  background:darkblue;
}

.result {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 1cm;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #000019;
}

input:focus + .slider {
  box-shadow: 0 0 1px #000019;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

h4{
  display: block;
  font-family:'jura';
  margin-right: 0;
  font-weight: bold;
  position: relative;
}

.switch2 {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 5px;
  margin-top: 15px;
}

/* Hide default HTML checkbox */
.switch2 input {
  opacity: 0;
  width: 0;
  height: 0;
}


.su{
  font-family:'jura';
  font-weight: bold;
  margin-left: 90px;
  cursor: pointer;

}

.matched {
  cursor: pointer;
}

.Nothing {
  font-family:'jura';
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.su2{
  font-family:'jura';
  font-weight: bold;
  margin-top: 100px;
  margin-left:  90px;

}



.logo img {
  border-radius: 1px;
  padding: 1px;
  width: 150px;
  position: relative;;
  left: 45.5%;
  margin-top: 2cm;
  
  
}

.book {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 3cm;
  margin-left: 50px;
}


.header {
background: #ffffff;
width: 100%;
height: 64px;
box-shadow: 0px 0px 10px -4px rgba(0,63,150,1);
z-index: 99;
position: fixed;
margin-left: -10px;
margin-right: 20px;
top: 0;	
}



.header-wrapper {
width: 100%;
justify-content: baseline;
display: flex;
margin: auto;
}

.logo {
width: 52px;
height: 52px;
margin-left: 0px;
margin-right: 50px;
margin-top: -70px;
transition: .5s;    
}

.logo:hover {

background-image: url(closed.png) no-repeat;
}

.logo img {
width: 100%;
}

.books-list {
font-family: Arial, Helvetica, sans-serif;
margin-top: 20px;
margin-left: 90px;
}


.search-zone input {
float: left;
width: 550px;
margin-top: 12px;
padding: 10px;
background: #ccc;
color:black;
font-size: 17px;
border: 1px ;
border-left: -10;
cursor: pointer;
border-bottom-left-radius:30px;
border-top-left-radius: 30px;

}

.search-zone input:focus{
outline: none;      /* Remove default outline and use border or box-shadow */
}

#ib {
float: left;
width: 5%;
margin-top: -39.5px;
margin-left: 510px;
padding-right: -100px;
padding-bottom: 11.2px;
padding-top: 9px;
background:#ccc;
color: #000019;
font-size: 17px;
cursor: pointer;
border-bottom-right-radius:30px;
border-top-right-radius: 30px;
border: none;
border-left: none;

}

l {
  margin-top: 3cm;
  list-style-type: none;
  padding: 0;
}

li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  margin-left: 90px;
}

li:last-child {
  border: none;
}

li a {
  text-decoration: none;
  color: #000;

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
  display: block;
  width: 200px;
}

li a:hover {
  font-size: 30px;
  background: #f6f6f6;
}
